.main-wrapper{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  background-color: aqua;
  
}

.btn{
  padding: 5px 10px;
  border-radius: 5px;
  background-color: darkcyan;
  position: absolute;
  top: 20px;
  right: 30px;
  height: 30px;

}

.form-select{
  position: absolute;
  top: 20px;
  right: 90px;
  height: 30px;
  border-radius: 5px;
}

/* BOX 1 */
.box1{
  width: calc((100% / 10) - 2px);
  background-color: yellowgreen;
  border: 1px solid white;
  aspect-ratio: 1.1;
 
}

.box2{
  width: calc((100% / 9) - 2px);
  background-color: yellowgreen;
  border: 1px white solid;
  aspect-ratio: 1.1;
 
}

.box3{
  width: calc((100% / 8) - 2px);
  background-color: yellowgreen;
  border: 1px solid white;
  aspect-ratio: 1.1;
 
}

.number{
  display: none;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  height: 100%;
}

.clicked{
  background-color: blue;
}

.clicked span{
  display: flex;
}